:root {
    --cloud-burst: #1f2e46;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cim {
    text-align: center;
    margin: 4rem 0 4rem 0;
    height: auto;
    color: var(--cloud-burst);
}

.megjelenes {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.megjelenes.reveal {
    opacity: 1;
}

.card {
    margin-bottom: 1rem;
}

input,
textarea {
    margin-bottom: 1rem;
}